.subtitle-section, .certificate-section {
    border-top: 2px solid #FF7F00; /* Oranžový okraj */
    padding: 10px; 
    background-color: #e8e8e8; /* Svetlosivá farba pozadia */
    flex: 1; /* Zabezpečuje, že sekcie zaberajú rovnaký priestor */
}

.subtitle-section {
    border-right: 2px solid #FF7F00;
}

.subtitle-section .contact-info p {
    margin: 3px 0; 
    display: flex;
    align-items: center;
}

.certificate-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.certificate-content img {
    height: auto; /* Adjust height to auto for flexibility */
    max-width: 25%;
    object-fit: cover; /* Maintain aspect ratio */
}

.certificate-content p {
    text-align: left;
    margin: 0;
    padding: 0;
}

.infographic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%; /* Adjust width of the entire infographic */
    margin: 0 auto;
    padding: 10px;
}

.wStyle {
    border: 3px dashed #FF7F00;
}

.fStyle {
    background-color: #FF7F00;
    color: #fff;
    font-weight: 600;
}