.vdp {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 60px; 
    position: relative;
}

.vdp::before{ 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 0;
}