body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white; /* Svetlosivá farba pozadia */
    color: #373A40; /* Tmavosivá farba textu */
}

header {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    position: fixed; /* Fixes the header at the top */
    width: 100%; /* Ensures the header spans the entire width of the page */
    top: 0;
    z-index: 1000000000; /* Ensures the header stays above other elements */
}

.section {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 60px; 
    position: relative;
}

.section::before{ 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 0;
    border-top: 2px solid #FF7F00;
}

.section.onas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/industry.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.container img {
    height: auto;
    max-height: 50px;
}

.language-selector {
    display: flex;
    align-items: center;
}

.language-selector a {
    color: #FF7F00;
    text-decoration: none;
    font-weight: 400;
    padding: 0 10px;
}

.language-selector a:hover {
    color: #FF5500;
    text-decoration: underline;
}

.language-selector a.active {
    color: #FF5500;
}

.language-selector span {
    color: #FF7F00;
    margin: 0 5px;
}

nav {
    background-color: #ff8000ad;
    padding: 10px 0;
    position: relative;
    width: 100%;
    top: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400; /* Normálne písmo */
    padding: 5px 10px;
    text-transform: uppercase; /* Veľké písmená */
}

nav ul li a.active {
    font-weight: 700; /* Tučné písmo pre aktívny odkaz */
    color: #FF5500; /* Svetlejšia oranžová pre aktívny odkaz */
}

nav ul li a:hover {
    color: #FF5500; /* Svetlejšia oranžová farba textu pri hover */
    text-decoration: underline;
}

main {
    margin-top: 70px;
}

main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #373A40;
}

h4 {
    text-align: right;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    margin: 35px;
    margin-left: 20px;
}

p {
    margin-left: 20px;
    text-align: left;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: height 2s ease, transform 2s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

footer {
    background-color: #333333;
    color: #EEEEEE;
    text-align: center;
    padding: 5px 0;
}

footer p {
    text-align: center;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #FF7F00;
    border: 2px solid #FF7F00;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.scroll-to-top:hover {
    border: 2px solid #FF5500;
    color: #FF5500;
}

/* Responsive Navigation Bar */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .container img {
        max-height: 40px;
        margin-bottom: 10px;
    }

    .language-selector {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px 20px;
        width: 100%;
        display: block;
    }
}

/* Mobile View */
@media screen and (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px 20px;
        width: 100%;
        display: block;
    }

    h2 {
        font-size: 28px;
        margin: 20px;
    }

    .container img {
        max-height: 30px;
    }
}