.infographic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

.wStyle {
    border: 3px dashed #FF7F00;
}

.fStyle {
    background-color: #FF7F00;
    color: #fff;
    font-weight: 600;
    font-size: large;
}

.section {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 95px; 
    position: relative;
}

.section::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 0;
    border-top: 2px solid #FF7F00;
}

.steel {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 95px; 
    position: relative;
}

.steel::before { 
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 0;
    border-bottom: 2px solid #FF7F00;
}

.contact-info {
    margin: 35px;
}

.section .contact-info p {
    margin: 3px 0 0 0; 
    display: flex;
    align-items: center;
}

.certificate-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.certificate-content img {
    height: auto;
    max-width: 25%;
    object-fit: cover;
}
