.section.onas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/industry.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.BIR, .MetalRadar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.BIR img, .MetalRadar img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.partners-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.partners-content p {
    text-align: left;
    margin-left: 20px;
}

.partners-content h2 {
    margin-left: 20px;
}

.map-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-column h2 {
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 0;
}

.standards-content {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ff8000cc;
    padding: 2%;
}

.standards-content img {
    width: 100%;
}

.map{
    width: 70%;
    height: auto;
}

@media (max-width: 768px) {
    .standards-content {
        flex-direction: column;
    }

    .standards-content img {
        width: auto;
        max-width: 100%;
    }

    .BIR, .MetalRadar {
        flex-direction: column;
        align-items: flex-start;
    }

    .BIR img, .MetalRadar img {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .BIR p, .MetalRadar p {
        margin-left: 0;
    }

    .map-content {
        flex-direction: column;
    }
}
