.section {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 60px; 
    position: relative;
}

.section::before{ 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 0;
    border-top: 2px solid #FF7F00;
}

.section.onas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/industry.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.partners-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.standards-content {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ff8000cc;
    padding: 2%;
}

.standards-content img {
    width: 100%;
}

@media (max-width: 1100px) {
    .standards-content {
        flex-direction: column;
    }

    .standards-content img {
        width: auto;
        max-width: 100%;
    }
}
