.partners-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.partners-content p {
    text-align: left;
    margin-left: 20px;
}

.partners-content h2 {
    margin-left: 20px;
}

.map-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-column h2 {
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 0;
}

.standards-content {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ff8000cc;
    padding: 2%;
}

.standards-content img {
    width: 100%;
}

.map{
    width: 70%;
    height: auto;
}

@media (max-width: 1100px) {
    .standards-content {
        flex-direction: column;
    }

    .standards-content img {
        width: auto;
        max-width: 100%;
    }
}
